body {
  background: #eee;
  text-align: center;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
  height: 400px;
  border: 1px solid #000000;
}

.cell {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 100px;
  height: 100px;
}

.cell-image {
  margin: auto;
  width: 80%;
  height: 80%;
}
